[submodule "frontend"]
	path = frontend
	url = https://github.com/PD-AI-Workshop/frontend
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/PD-AI-Workshop/backend
	branch = main
